
      <div style="padding-left:500px;">
        <h1 class="demo-logo">
          <small>The Equity Course Information:</small>
        </h1>

      <div class="row demo-samples">
        <div class="span4">
          <br/>
          <div class="todo mrm">
            
            <ul>

              <li>
                <div class="todo-icon fui-menu-24"></div>
                <div class="todo-content">
                  <h4 class="todo-name">
                    Chat with <strong>V.Kudinov</strong>
                  </h4>
                  Skype conference an 9 am
                </div>
              </li>

              <li>
                <div class="todo-icon fui-eye-24"></div>
                <div class="todo-content">
                  <h4 class="todo-name">
                    Watch <strong>Iron Man</strong>
                  </h4>
                  1998 Broadway
                </div>
              </li>

              <li>
                <div class="todo-icon fui-time-24"></div>
                <div class="todo-content">
                  <h4 class="todo-name">
                    Fix bug on a <strong>Website</strong>
                  </h4>
                  As soon as possible
                </div>
              </li>
            </ul>
          </div>
        </div> <!-- /todo list -->
      </div>