
      <div style="padding-left:500px;">
        <h1 class="demo-logo">
          <small>The Equity Course Information:</small>
        </h1>

      <div class="row demo-samples">
        <div class="span4">
          <br/>
          <br/>
          <br/>
          <div class="todo mrm">
            
            <ul>

              <li>
                <div class="todo-icon fui-menu-24"></div>
                <div class="todo-content">
                  <h4 class="todo-name">
                    Income <strong>Statement</strong>
                  </h4>
                  Historical Info and Estimates
                </div>
              </li>

              <li>
                <div class="todo-icon fui-eye-24"></div>
                <div class="todo-content">
                  <h4 class="todo-name">
                    Balance <strong>Sheet</strong>
                  </h4>
                  Estimate run-rate ratios
                </div>
              </li>

              <li>
                <div class="todo-icon fui-time-24"></div>
                <div class="todo-content">
                  <h4 class="todo-name">
                    Cash <strong>Flow</strong>
                  </h4>
                  Calculate cash available
                </div>
              </li>
            </ul>
          </div>
        </div> <!-- /todo list -->
      </div>
            <div class="row demo-row">

        <div style="padding-left:35px;" class="span3">
          <a href="#" class="btn btn-large btn-block btn-primary">Continue</a>
        </div>

      </div> <!-- /row -->