  

     <div class="span4">
          <div class="demo-text-box prl">
            <h3 class="demo-panel-title">Income Statement</h3>
            
               <li>Lato is free web-font designed by Lukasz&nbsp;Dziedzic from Warsaw.</li>
            <li>Here you can feel the color, size, line height and margins between paragraphs. Don’t forget to underline 
              your links, they are important <a href="#">visual marker</a> for user.</li>
            <li>Also, to attract attention you can mark some&nbsp;important words using <strong>bold weights</strong>.</li>
          </ul>
          </div>
        </div> <!-- /text box -->
     <div class="span4">

      <div class="demo-text-box prl">
        <h3 class="demo-panel-title">Balance Sheet</h3>
        
        <li><strong>Lato</strong> is free web-font designed by <strong>Lukasz&nbsp;Dziedzic</strong> from Warsaw.</li>
        <li>Here you can feel the color, size, line height and margins between paragraphs. Don’t forget to underline 
          your links, they are important <a href="#">visual marker</a> for user.</li>
        <li>Also, to attract attention you can mark some&nbsp;important words using <strong>bold weights</strong>.</li>
      
      </div>
    </div> <!-- /text box -->

      <div class="demo-text-box prl">
        <h3 class="demo-panel-title">Cash Flow Statement</h3>
        
        <li><strong>Lato</strong> is free web-font designed by <strong>Lukasz&nbsp;Dziedzic</strong> from Warsaw.</li>
        <li>Here you can feel the color, size, line height and margins between paragraphs. Don’t forget to underline 
          your links, they are important <a href="#">visual marker</a> for user.</li>
        <li>Also, to attract attention you can mark some&nbsp;important words using <strong>bold weights</strong>.</li>
      
      </div>
    </div> <!-- /text box -->