	    
      <div class="container" id="home_page">
      
      <div class="demo-headline">

        <h1 class="demo-logo">
            
          <div class="logo"></div>
             <div>
      <%= image_tag "home-image.png" , :size=>"400x400", :class => "logo_large" %>
      </div>
          Fincademy
          <small>An interactive tutorial to learn Financial Modeling</small>
        </h1>
        	<br>
		<%= link_to "Sign up now!", tracks_path, class: "btn btn-large btn-primary" %>
	</div> <!-- /demo-headline -->


