	    <div class="container">
      <div class="demo-headline">
        <h1 class="demo-logo">
          <div class="logo"></div>
          Fincademy
          <small>An interactive tutorial to learn Financial Modeling</small>
        </h1>
        	<br>
		<%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
	</div> <!-- /demo-headline -->

