<div id="myExcelDiv" style="width: 500px; height: 610px"></div>
<script type="text/javascript" src="http://r.office.microsoft.com/r/rlidExcelWLJS?v=1&kip=1"></script>
<script type="text/javascript">
    var fileToken = "SD3D1527833B258574!118/4401467655411041652/t=0&s=0&v=!ACyI1k_q_jwZqI4";
    var ewa = null;
  // run the Excel load handler on page load
  if (window.attachEvent) {
    window.attachEvent("onload", loadEwaOnPageLoad);
  } else {
    window.addEventListener("DOMContentLoaded", loadEwaOnPageLoad, false);
  }

  function loadEwaOnPageLoad() {
    var props = {
      uiOptions: {
                item: "'IS'!A1:C30",
        showGridlines: true,
        showRowColumnHeaders: true,
        showParametersTaskPane: false
      },
      interactivityOptions: {
        allowTypingAndFormulaEntry: true,
        allowParameterModification: true,
        allowSorting: false,
        allowFiltering: false,
        allowPivotTableInteractivity: false
      }
    };

    Ewa.EwaControl.loadEwaAsync(fileToken, "myExcelDiv", props, onEwaLoaded);
  }

    function print_forward(){
        print_to_textarea("\nGood Work!! You have advanced to step " + course.current_step);
        print_to_textarea("\n" + course.course_json.steps[course.current_step].instructions)
    }

// <<<<<<< HEAD
// <<<<<<< HEAD
    // function print_to_textarea(text){
        // var textArea = document.getElementById("editor");
        // // textArea.value += (text);
        // // textArea.value += (text);
        // $('#editor').append('<p>' + text + '</p>');

        // var textArea = $("#myModal .modal-body");
        // textArea.value += (text);
        // textArea.value += (text);
        // if ($("#myModal .modal-body").text() == '')
        // $("#myModal .modal-body").text(text);
        // else
        // $("#myModal .modal-body").next().text('');
// =======
    // function print_to_textarea(text, class){
        // $('#editor').append('<p class = ' + class + '>' + text + '</p>');
// >>>>>>> d9dfa725fc1284bb81f7f3163251ea324db75619
// =======
    function print_to_textarea(text){
        $('#editor').append('<p>' + text + '</p>');
// >>>>>>> 8d4d42b3f2973fb4b671e701ed15932dfc921cf4
    }

      // $("#answer_button").click(function(e) {
      //   alert("You clicked me!");
      //   e.preventDefault();
      // });

      $('.progress').tooltip('show');

    function print_boogie(){
        print_to_textarea("\nIncorrect Answer!!!");
    }
            
    function execute(){
      $("#myModal .modal-body").text("text");
      var currentSheetName = ewa.getActiveWorkbook().getActiveSheet().getName();
      var cell = course.course_json.steps[course.current_step].cell_location;
        var commaIndex = cell.indexOf(",");
        var row = parseInt(cell.substring(0, commaIndex));
        var column = parseInt(cell.substring(commaIndex + 1))
        var range = ewa.getActiveWorkbook().getRange(currentSheetName,row,column,row+1,column+1);
        range.getValuesAsync(1, getRangeValues, null);
    }

    function change_image(){
        //TODO
        //get image 
        //get div
        //load image
   }

    function getRangeValues(asyncResult){
        if(asyncResult.getCode() == 0){
            var cellValue = asyncResult.getReturnValue()[0][0];
            var matched = match_answer(course, cellValue);
            if(matched){
                 var current_step = course.current_step;
                 forward_step(course);
                 if(course.current_step = current_step){
                     //TODO end of the tutorial
                 }else{
                     print_forward();
                     change_image();
                 }
            }else{
                  print_boogie();
            }
        }else{
            alert("Operation failed");
        }
    }

  function onEwaLoaded(result) {
        if (result.getSucceeded()){
            ewa = result.getEwaControl();
        }
        else{
            alert("Async operation failed!");
        }
  }

    function forward_step(course){
        var new_step = course.current_step + 1;
        var total_step = course.course_json.steps.length;
        if(new_step < total_step){
            course.current_step = new_step;
            return true;
        } 
        return false;
    }

   function match_answer(course, answer){
       return (course.course_json.steps[course.current_step].answer == 
               answer);
   }

    var course = {
        course_json : "",
        current_step : 0
    }

    $(document).ready(function(){
            print_to_textarea("\n" + course.course_json.steps[course.current_step].instructions);
            $.ajax({
                url: url, //TODO
                success: function(data){course.course_json = data;}
            });                      
        });

    
                      
</script>
