<div id="myExcelDiv" style="width: 500px; height: 610px"></div>
<style>
  .error{
      color : red;
  }
  .success{
      color : green;
  }
</style>
<script type="text/javascript" src="http://r.office.microsoft.com/r/rlidExcelWLJS?v=1&kip=1"></script>
<script type="text/javascript">
  // Use this file token to reference Book1.xlsx in Excel's APIs
    var fileToken = "SD3D1527833B258574!118/4401467655411041652/t=0&s=0&v=!ACyI1k_q_jwZqI4";
    var ewa = null;
  // run the Excel load handler on page load
  if (window.attachEvent) {
    window.attachEvent("onload", loadEwaOnPageLoad);
  } else {
    window.addEventListener("DOMContentLoaded", loadEwaOnPageLoad, false);
  }

  function loadEwaOnPageLoad() {
    var props = {
      uiOptions: {
                item: "'IS'!A1:C30",
        showGridlines: true,
        showRowColumnHeaders: true,
        showParametersTaskPane: false
      },
      interactivityOptions: {
        allowTypingAndFormulaEntry: true,
        allowParameterModification: true,
        allowSorting: false,
        allowFiltering: false,
        allowPivotTableInteractivity: false
      }
    };

    Ewa.EwaControl.loadEwaAsync(fileToken, "myExcelDiv", props, onEwaLoaded);
  }

    function print_forward(){
        print_to_textarea("\nGood Work!! You have advanced to step " + course.current_step, "success");
        print_to_textarea("\n" + course.course_json.steps[course.current_step].instructions)
    }

    function print_to_textarea(text, class){
        $('#editor').append('<p class = ' + class + '>' + text + '</p>');
    }

    function print_boogie(){
        print_to_textarea("\nIncorrect Answer!!!", "error");
    }
            
    function execute(){
      var currentSheetName = ewa.getActiveWorkbook().getActiveSheet().getName();
      var cell = course.course_json.steps[course.current_step].cell_location;
        var commaIndex = cell.indexOf(",");
        var row = parseInt(cell.substring(0, commaIndex));
        var column = parseInt(cell.substring(commaIndex + 1))
        var range = ewa.getActiveWorkbook().getRange(currentSheetName,row,column,row+1,column+1);
        range.getValuesAsync(1, getRangeValues, null);
    }

    function getRangeValues(asyncResult){
        if(asyncResult.getCode() == 0){
            var cellValue = asyncResult.getReturnValue()[0][0];
            var matched = match_answer(course, cellValue);
            if(matched){
                 forward_step(course);
                 print_forward();
            }else{
                  print_boogie();
            }
        }else{
            alert("Operation failed");
        }
    }

  function onEwaLoaded(result) {
        if (result.getSucceeded()){
            ewa = result.getEwaControl();
        }
        else{
            alert("Async operation failed!");
        }
  }

    function forward_step(course){
        var new_step = course.current_step + 1;
        var total_step = course.course_json.steps.length;
        if(new_step < total_step){
            course.current_step = new_step;
            return true;
        } 
        return false;
    }

   function match_answer(course, answer){
       return (course.course_json.steps[course.current_step].answer == 
               answer);
   }

    var course = {
        course_json : "",
        current_step : 0
    }

    $(document).ready(function(){
            print_to_textarea("\n" + course.course_json.steps[course.current_step].instructions, "success");
            $.ajax({
                url: url,
                success: function(data){course.course_json = data;}
            });                      
        });

    
                      
</script>
