

  <header id="main">
    <div class="row demo-row">
      <div class="span2">
        <a href="#" class="btn btn-large btn-block btn-info">FinAcademy</a>
      </div>
      <div class="span2">
        <a href="#" class="btn btn-large btn-block btn-info">Learn</a>
      </div>
      <div class="span2">
        <a href="#" class="btn btn-large btn-block btn-info">About</a>
      </div>

    </div>
  </header> 