

<header class="main">
  <h1 class="logo"><a href="/courses/web-beginner-en-HZA3b" title="Math Basics"><span class="icon"></span>Math Basics</a></h1>
  <div class="user fl-right">
    <ul class="cf">
      <li class="cc-button-group btn-group">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <span class="arrow"></span>
    
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li>
      <a href="#">View my profile</a>
    </li>
    <li>
      <a href="#">Edit account settings</a>
    </li>
    <li><a href="#" id="help-nav">Help</a></li>
    <li><a href="#">Sign Out</a></li>
  </ul>
</li>
    </ul>
  </div>

</header>